USE [master]
GO
/****** Object:  Database [TodoApp]    Script Date: 10/05/2021 12:34:08 ******/
CREATE DATABASE [TodoApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TodoApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TodoApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoApp]
GO
/****** Object:  Table [dbo].[Taken]    Script Date: 10/05/2021 12:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Omschrijving] [nvarchar](50) NOT NULL,
	[Afgerond] [bit] NOT NULL,
	[Deadline] [datetime] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
